In [1]:
# Dependencies and Setup
import os
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

# Read in your csv files
uber_raw = pd.read_csv('Resources/uber-raw-data-janjune-15.csv')
weather_jan = pd.read_csv('Resources/weather_rawjan.csv')
weather_feb = pd.read_csv('Resources/weather_rawfeb.csv')
weather_march = pd.read_csv('Resources/weather_rawmarch.csv')
weather_april = pd.read_csv('Resources/weather_rawapril.csv')
weather_may = pd.read_csv('Resources/weather_rawmay.csv')
weather_june = pd.read_csv('Resources/weather_rawjune.csv')

In [2]:
# Print .head()
uber_raw.head()

  Dispatching_base_num          Pickup_date Affiliated_base_num  locationID
0               B02617  2015-05-17 09:47:00              B02617         141
1               B02617  2015-05-17 09:47:00              B02617          65
2               B02617  2015-05-17 09:47:00              B02617         100
3               B02617  2015-05-17 09:47:00              B02774          80
4               B02617  2015-05-17 09:47:00              B02617          90

In [5]:
# Split column "Pickup_date" so it'll be easier to merge
uber_raw = pd.read_csv('Resources/uber-raw-data-janjune-15.csv')

uber_raw['Date'] = pd.to_datetime(uber_raw['Pickup_date']).dt.date
uber_raw['Time'] = pd.to_datetime(uber_raw['Pickup_date']).dt.time

uber_raw.head()

,Dispatching_base_num,Pickup_date,Affiliated_base_num,locationID,Date,Time
0,B02617,2015-05-17 09:47:00,B02617,141,2015-05-17,09:47:00
1,B02617,2015-05-17 09:47:00,B02617,65,2015-05-17,09:47:00
2,B02617,2015-05-17 09:47:00,B02617,100,2015-05-17,09:47:00
3,B02617,2015-05-17 09:47:00,B02774,80,2015-05-17,09:47:00
4,B02617,2015-05-17 09:47:00,B02617,90,2015-05-17,09:47:00

In [4]:
# Get total number of Ubers from January - June 2015
total_ubers = len(uber_raw["Pickup_date"].unique())
total_ubers

2744783

In [ ]:
# Create sub-category by days (.append - will create a new column in the new df table)

In [ ]:
# Get a total sum of all columns by days
# Will be easier to incorporate Weather API if totaled by days

In [ ]:
# Create first graph

In [ ]:
# Figure out corresponding dates with data set

In [ ]:
# Merge data set with UBER_RAW_DATA

In [ ]:
# Create new data tables to hold along with new variables (rain/sunshine/snow/etc)

In [ ]:
# Create new graphs that correlates days vs weather